.Button {
    background: none;
    padding: 8px 15px;
    outline: none;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: larger;
    text-align: center;

    &:not(:disabled):hover {
        color: white;
        background-color: black;
    }
}